
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html{
    /* Sirve para que haga el scroll suave*/
    scroll-behavior: smooth;
}

.container-fluid{
    height: 100vh;
}

h1{
    font-size: 80px;
    font-weight: 700;
}

h3{
    color: rgb(130, 0, 83);
    font-size: 40px;
    font-weight: 200;
}

h4{
    color: rgb(130, 0, 83);
    font-size: 18px;
    font-weight: 700; 
}

p{
    font-size: 18px;
    font-weight: 300;
}

h5{
    color: red;
    font-weight: 700;
}

.banner{
    min-height: 100vh;
}

.banner div{
    background: url(../imgs/bg.jpeg) no-repeat; 
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-attachment: fixed;
}

/* Los estilos del botón los hemos puesto mediante bootstrap, aquí solo ponemos el tamaño */
.btn{
    width: 300px;
    height: 60px;
}

/* Estos estilos se pondran cuando el ratón este encima del botón */
.banner .btn-light:hover{
    border: 1px solid white;
    background: none;
    color: white;
}

#sbock{  
    background: url(../imgs/real.jpeg) no-repeat; 
    background-position-x: right;
    background-position-y: top;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100vh;
}

#contacto{
    background: url(../imgs/contact.jpeg) no-repeat; 
    background-position-x: left;
    background-position-y: top;
    background-size: 100vh;
    background-attachment: fixed;
    min-height: 100vh;
}